@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset básico e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores */
    --cor-principal: #8E2424; 
    --cor-texto: #667085; 
    --cor-titulo: #101828;

    /* Fonte */
    --fonte-principal: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: #f0f0f0;
}

/* Estilos da Navbar */
.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    padding: 20px;
}

.container-navbar h1 {
    font-size: 18px;
    font-weight: 500;
    color: #3A404E;
    line-height: 24px;
}

.logo-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.logo-navbar img {
    width: 26px;
    height: 26px;
}

.links-navbar a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-texto);
    text-decoration: none;
    margin-right: 40px;
    transition: color 0.3s ease;
}

.links-navbar a:last-child {
    margin-right: 0;
}

.links-navbar a:hover {
    color: var(--cor-principal);
}

.botoes-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    padding: 10px 18px;
}

.botao--entrar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: color 0.3s ease;
}

.botao--entrar:hover {
    color: var(--cor-principal);
}

.botao--cadastrar {
    cursor: pointer;
    background-color: var(--cor-principal);
    color: #ffffff;
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.botao--cadastrar:hover {
    background-color: #6b1111;
    border-color: var(--cor-principal);
}

/* Seção Cabeçalho */
.cabecalho {
    padding: 96px 0;
}

.cabecalho__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.cabecalho__destaque {
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-principal);
}

.cabecalho__titulo {
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: var(--cor-titulo);
    text-align: center;
    margin: 0;
    padding: 32px 0;
}

.cabecalho__descricao {
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-texto);
    text-align: center;
    margin: 0;
    max-width: 791px;
}

/* Seção métricas */
.metricas-container {
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
    max-width: 1200px;
    margin: 0 auto; 
    flex-wrap: wrap;
}

.metrica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    width: 280px;
    min-height: 168px;
}

.metrica__title {
    font-weight: 600;
    font-size: 60px;
    color: var(--cor-principal);
    margin-bottom: 12px;
    line-height: 1.2; 
}

.metrica__subtitle {
    font-weight: 500;
    font-size: 18px;
    color: var(--cor-titulo);
    margin-bottom: 8px;
}

.metrica__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--cor-texto);
    margin: 0;
    gap: 10px;
}
/* Seção Vagas */
.vagas-abertas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    gap: 32px;
}

.talento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talento__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px; 
    padding: 32px; 
}

.talento__badge {
    width: 125px; 
    height: 28px; 
    padding: 4px 12px;
    border-radius: 16px;
    background-color: #8E24240D; 
    color: var(--cor-principal); 
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center; 
}

.talento__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--cor-titulo);
}

.talento__texto {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-texto);
}

.talento img {
    width: 1216px;
    height: 400px;
    margin-top: 32px;
}

.vagas {
    margin: 0 auto;
    padding: 20px;
}

.vagas h2 {
    font-weight: 500;
    font-size: 20px;
    color: var(--cor-titulo);
    margin-bottom: 20px;
}

/* Card de Vaga */
.vagas {
    margin: 0 auto;
    padding: 20px;
}

.vagas h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--cor-titulo);
    margin-bottom: 20px;
}


.vaga {
    width: 768px;
    height: 136px;
    padding: 24px 24px 28px;
    margin-bottom: 20px;
    border: 2px solid #EAECF0;
    border-radius: 16px;
}

.titulo-vaga {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-titulo);
    margin-bottom: 46px;
}

/* Estilo da div de informações */
.informacoes {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 16px;
    color: var(--cor-texto);
}
